svg(viewbox='0 0 118 120' fill='none' xmlns='http://www.w3.org/2000/svg')
    path(class='fill-secondary' fill-rule='evenodd' clip-rule='evenodd' d='M2.40833 54.0822L53.1858 2.44892C56.3969 -0.816305 61.6031 -0.816305 64.8142 2.44892L115.592 54.0822C118.803 57.3474 118.803 62.6414 115.592 65.9066L64.8142 117.54C61.6031 120.805 56.3969 120.805 53.1858 117.54L2.40833 65.9066C-0.802775 62.6414 -0.802776 57.3474 2.40833 54.0822ZM58.9819 24.4071C58.9819 24.4071 28.9662 62.1046 39.3381 82.2551C48.6032 100.255 69.5091 100.255 78.7743 82.2551C89.1616 62.0744 58.9819 24.4071 58.9819 24.4071Z')
