mixin contactIcon(icon, text, href)
    .my-2.w-full.flex.items-center
        .mr-5.flex.justify-center.items-center.h-11.w-11.shadow-2xl.rounded-full.bg-base-content.text-primary-content
            i.fas.fa-lg(class=icon)
        a.w-auto.text-lg(href=href)=text