// ALERT BANNER BEGIN
.w-full.flex.flex-wrap.justify-center.items-center.px-4.py-2.bg-primary.text-primary-content(class="md:py-3 md:px-6 gap-y-2 md:gap-y-0 gap-x-2")
    i.fas.fa-2x.fa-exclamation-triangle(class="md:mr-2")
    .flex.flex-wrap.items-center.justify-center(class="md:text-lg")
        h1 Aviso importante para nuestros clientes:&nbsp;
        a.underline(href="blankPage.pug") Ver Información
// ALERT BANNER END