extends ../templates/Main

block variables
    - let title = '500 Server Error'

block content
    .w-full.py-12.flex.flex-wrap.justify-center.items-center.text-primary(class='min-h-[78vh]')
        .w-full.flex.gap-x-10.justify-center.items-center.text-8xl.font-bold.max-w-7xl(class="md:text-10xl")
            h1 5
            i.fas.fa-bomb
            i.fas.fa-bomb
        .w-full.flex.flex-wrap.flex-col.justify-center.items-center.gap-y-10
            p.mb-8.text-lg.font-bold.text-center.max-w-7xl(class="md:mb-10 md:text-5xl") Error nuestro, disculpa...
            a.btn-fylisa(href="index.pug") Regresar
