extends ../templates/Main

include ../components/generic/banner
include ../components/generic/features/featuresBanner
include ../components/generic/features/featureCard
include ../components/generic/contact/contactBanner
include ../components/svg/svgSelector

block variables
    - let title = 'FYLISA - Sobre Nosotros'

block content
    +banner(
        'white',
        'engine_girl',
        null,
        '¿Quienes',
        'large',
        'Somos?',
        'extra-large'
    )
    // WE ARE BANNER BEGIN
    .w-full.flex.flex-wrap.bg-primary.px-4.py-10(class="md:py-16 md:justify-evenly md:items-stretch")
        .w-full.flex.flex-wrap.justify-center.items-center
            p.text-center.font-semibold.text-lg.mb-8.text-base-100(class="md:text-3xl md:max-w-3xl") Somos una empresa fundada en 1986 con la misión de dar soluciones de limpieza y mantenimiento a equipos industriales
        .w-full.flex.flex-wrap.flex-col.justify-between.items-center.my-6.text-base-100(class="md:mt-10 md:w-1/4 lg:w-1/6")
            .w-32.h-auto(class="md:w-48")
                +svgSelector('filter')
            h3.mt-4.text-center(class="md:text-xl") Manufactura de Filtros
        .w-full.flex.flex-wrap.flex-col.justify-between.items-center.my-6.text-base-100(class="md:mt-10 md:w-1/4 lg:w-1/6")
            .w-32.h-auto(class="md:w-48")
                +svgSelector('filterEngine')
            h3.mt-4.text-center(class="md:text-xl") Mantenimiento, limpieza y reparación de filtros
    // WE ARE BANNER END
    +featuresBanner('neutral', null, null)
        each card in locals.fixtures.aboutUsBanner
            +featureCard(
                'neutral',
                card.icon,
                card.title,
                card.text
            )
    +featuresBanner('white', '¿Porqué', 'Nosotros?')
        each card in locals.fixtures.whyUsBanner
            +featureCard(
                'white',
                card.icon,
                card.title,
                card.text
            )
    +contact_banner('Contactanos', 'Nos interesan tus necesidades', 'Contacto', '#!')