extends ../templates/Main

include ../components/generic/banner
include ../components/generic/smallBanner

block variables
    - let title = 'FYLISA - Filtros Hidráulicos'

block content
    +banner(
        'white',
        null,
        '../assets/filters/hidra_1.png',
        'Filtros',
        'medium',
        'Hidráulicos',
        'large'
    )
    +smallBanner(
        'blue',
        'Cuando se trata de filtros, tenemos una gran variedad los cuales manufacturamos o en caso que el cliente lo desee, de alguna marca diferente',
        'medium',
        null,
        '../assets/filters/filter_banner_products.png '
    )
    .w-full.flex.flex-wrap.react-gallery(data-tag='Filtros' data-title='Galería')
block extra_js
    script(src='../js/gallery/gallery.jsx' type='module')
