extends ../templates/Main

include ../components/generic/banner
include ../components/generic/features/featuresBanner
include ../components/generic/features/featureCard
include ../components/generic/slider/sliderBanner
include ../components/generic/slider/card
include ../components/generic/contact/contactBanner

block variables
    - let title = 'FYLISA - Nuestros Servicios'

block extra_css
    link(rel='stylesheet' href='https://unpkg.com/swiper@7/swiper-bundle.min.css')

block content
    +banner(
        'white',
        null,
        '../assets/services/cleaning_service.png',
        'Nuestros',
        'medium',
        'Servicios',
        'large'
    )
    +featuresBanner('blue', '¿Porqué', 'Nosotros?')
        each card in locals.fixtures.whyUsServiceBanner
            +featureCard(
                'blue',
                card.icon,
                card.title,
                card.text
            )
    +slider_banner(
        'neutral',
        null,
        'Algunos de nuestros servicios'
    )
        each card in locals.fixtures.serviceSlider
            +card(
                card.title,
                card.description,
                card.linkText,
                card.link,
                card.image
            )
    +contact_banner('Contactanos', '¿No encontró lo que buscaba?', 'Contacto', '#!')

block extra_js
    script(src='https://unpkg.com/swiper@7/swiper-bundle.min.js')