#cookies_advice.w-full.z-20.fixed.bottom-0.left-0.bg-primary-content.px-5.pt-3.pb-4.hidden(class="md:px-8 rounded-t-lg md:rounded-lg md:bottom-2 md:left-2 md:w-7/12 lg:w-1/4")
    h1.font-bold.text-fylisa-900(class="dark:text-fylisa-100") Nuestro sitio cuenta con uso de almacenamiento y formularios para brindarte una mejor experiencia
    .w-full.mt-1.mb-5
        a.underline.font-light.text-night-900.text-sm(href="#!", class="dark:text-white md:text-base") Más información
    .w-full.mt-4.ml-2
        button#cookies_advice_accept.btn-fylisa.btn-fylisa-sm.w-full(class="md:w-auto") Aceptar