mixin featuresBanner(style, title_1, title_2)
    .w-full.flex.flex-col.py-10.gap-y-4(class=locals.stylers.bgStyler(style))
        if title_1 || title_2
            .w-full.flex.flex-wrap.px-4.my-8.justify-center
                .w-auto.flex.flex-wrap(class="flex-col flex-shrink lg:pl-10")
                    h1.flex.flex-col
                        if title_1
                            span.text-5xl.font-light(class="lg:text-6.5xl "+locals.stylers.titleColorStyler(style, false))= title_1
                        if title_2
                            span.font-medium(class="text-6xl leading-none lg:text-8xl "+locals.stylers.titleColorStyler(style, true))= title_2
        .w-full.flex.flex-wrap.gap-y-12.justify-evenly.items-center.px-6(class="md:gap-y-10")
            block