.w-full.flex.flex-wrap.bg-fylisa-900.px-4.py-10(class="md:py-16 dark:bg-fylisa-100 md:justify-evenly md:items-stretch")
    .w-full.flex.flex-wrap.justify-center.items-center
        p.text-white.text-center.font-semibold.text-lg.mb-8(class="dark:text-night-900 md:text-3xl md:max-w-3xl ") Somos una empresa fundada en 1986 con la misión de dar soluciones de limpieza y mantenimiento a equipos industriales
    .w-full.flex.flex-wrap.flex-col.justify-between.items-center.my-6.text-white(class="md:mt-10 md:w-1/4 lg:w-1/6 dark:text-night-900")
        img.block.w-32.h-auto(class="dark:hidden md:w-48" src=require('../../../assets/illustrations/filter_icon.png').default, alt="icon filter light")
        h3.mt-4.text-center(class="md:text-xl") Manufactura de Filtros
    .w-full.flex.flex-wrap.flex-col.justify-between.items-center.my-6.text-white(class="md:mt-10 md:w-1/4 lg:w-1/6 dark:text-night-900")
        img.block.w-32.h-auto(class="dark:hidden md:w-48" src=require('../../../assets/illustrations/filter_icon_2.png').default, alt="icon 2 filter light")
        h3.mt-4.text-center(class="md:text-xl") Mantenimiento, limpieza y reparación de filtros